#add-people-form input[type=text] {
    width: 100%;
    margin: 10px 0;
}

.page-template-default .entry-content h2:not(:first-child) {
    margin-top: 80px;
}


#add-activity-page-search-results {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #585858f0;
    color: #efefef;
    z-index: 1000;
    display:none;
    margin-top:0;
}

#add-activity-page-search-results .search-container {
    padding: 60px 15px;
}

#add-activity-page-search-results .search-container input {
    width: 100%;
    border: none;
}
#add-activity-page-search-results .exit-search {
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
    float: right;
}

#add-activity-page-search-results .search-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 34px;
    float: left;
    margin: 0;
    margin-top: 8px;
}

.search-container ul {
    padding: 0;
    list-style-type: none;
}

.search-container ul li {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
}

.search-container ul li p {
    margin: 0;
}

.search-container p.no-results {
    text-align: center;
}

.text-center{
    text-align: center;
}
.left-orange-line{
    border-left: 5px solid orange;
    padding-left: 20px;
    margin: 1em 0;
}

li.search-result-item:hover {
    cursor: pointer;
    background-color: #ff9b00;
    color: white;
    font-weight: bold;
}
#activity label {
    margin-left: 10px;
}


.show-list-wrapper thead {
    border-bottom: 3px solid #f3f3f3;
}

.show-list-wrapper tr:nth-child(even) {
    background-color: whitesmoke;
}


.show-list-wrapper .user-info {
    min-width: 140px;
    margin: 3px 0;
    padding-left: 10px;
    word-break: break-word;
}

.show-list-wrapper .user-info > span {
    display: block;
    font-size: 12px;
}

.show-list-wrapper .user-info .user-info-name {
    font-weight: bold;
}

.show-list-wrapper .user-info .user-info-email {
    color: gray;
}

.user-visits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
}

.show-list-wrapper {
    overflow-x: scroll;
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
}

/* visit indicator colors */
.visit-indicator {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 4px;
}

#leyend-wrapper span.visit-indicator {
    position: relative;
    bottom: -8px;
}

.leyend div p {
    margin: 0;
}
.leyend {
    margin-bottom: 30px;
}

.user-visits .visit-indicator.visit {
    background-color: #E91E63;
}

.user-visits .visit-indicator.fhe {
    background-color: #03A9F4;
}

.user-visits .visit-indicator.meal {
    background-color: #FF9800;
}

.user-visits .visit-indicator.meal-friend {
    background-color: #FF9800;
    border: 5px solid green;
}

.user-visits .visit-indicator.visit-friend {
    background-color: #E91E63;
    border: 5px solid green;
}

.user-visits .visit-indicator.fhe-friend {
    background-color: #03A9F4;
    border: 5px solid green;
}


.entry .entry-header {
    margin: 20px 15px 0;
}

#page .entry .entry-title:before {
    display: none;
}


.show-list-results {
    min-width: 320px;
}
h1.entry-title {
    font-size: 26px;
}

ul.show-list-wrapper {
    margin: 0 !important;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 10px;
    position: absolute;
    z-index: 1;
    top: -76px;
    line-height: 19px;
    left: -85px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltiptext span {
    display: block;
    font-size: 16px;
}

.filters-section{
    position: relative;
    overflow: hidden;
}
#filters-wrapper {
    margin-top: -550px;
    -webkit-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
    background-color: #f2f9ff;
    padding: 15px;
}
.leyend {
    position: relative;
    overflow: hidden;
    background-color: #f2f9ff;
    margin-top: 15px;
}
#leyend-wrapper {
    -webkit-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
    margin-top: -200px;
    padding: 15px;
}

.filter-btn, .leyend-btn {
    text-align: center;
    text-decoration: underline;
    color: #027eb3;
    margin: 0 !important;
}

.filter-btn:hover, .leyend-btn:hover {
    cursor: pointer;
}
.toggle-filters {
    margin: 0 !important;
}
.filters-section {
    margin: 0 !important;
}
#filters-wrapper .direct-filters button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

#filters-wrapper .advanced-filters div {
    display: block;
    width: 100%;
    margin: 5px 0;
}

#filters-wrapper .advanced-filters {
    margin-top: 20px;
}

#filters-wrapper .advanced-filters div label {
    display: block;
}

.show-list-wrapper table td, .show-list-wrapper table th {
    border: none;
}
.show-list-wrapper table th{
    text-align: left;
}

.show-list-wrapper .show-list-results .left-column {
    width: 50%;
}
.edit-buttons{
    display: none;
}

span.dashicons.dashicons-admin-users {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

#filters-wrapper .direct-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#filters-wrapper .direct-filters button {
    width: 48%;
    font-size: 12px;
    margin: 1%;
    max-width: 215px;

}

#leyend-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#leyend-wrapper div {
    width: 100%;
}

#leyend-wrapper.user-visits {
    margin: 0;
}

.edit-buttons button {
    font-size: 13px;
    padding: 5px 10px;
    margin: 5px;
}

.show-list-wrapper .user-info:hover {
    cursor: pointer;
    background-color: #d0d0d0;

}
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6b6b6bba;
    padding: 0 15px;
    margin: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.modal .dashicons.dashicons-no {
    font-size: 40px;
    color: #fff;
    width: 40px;
    height: 40px;
}

.modal .dashicons.dashicons-no:hover {
    cursor: pointer;
}

.modal-content {
    background: white;
    padding: 15px 25px;
    font-size: 14px;
}

#delete-user-modal {
    text-align: center;
}

#delete-user-modal .modal-content {
    padding: 30px;
}

.modal .dashicons-warning {
    font-size: 70px;
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    color: #f7c05c;
}

.modal button {
    width: 40%;
    padding: 10px;
    max-width: 185px;
    margin: 20px 10px;
}

.ajax-response {
    text-align: center;
}

[data-status="2"]  {
    border-left: 5px solid red;
}
[data-status="3"]  {
    border-left: 5px solid #4CAF50;
}
#status label {
    margin-left: 8px;
}

@media only screen and (min-width: 768px){

    #add-activity-page-search-results .search-container {
        padding: 100px 15px;
        max-width: 70%;
        margin: 0 auto;
    }
    .leyend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .show-list-wrapper .show-list-results .left-column {
        width: 40%;
    }
    .show-list-wrapper .user-info span {
        font-size: 16px;
    }
    #filters-wrapper .direct-filters button {
        width: 23%;
        font-size: 14px;
    }
    #leyend-wrapper div {
        width: 33%;
        max-width: 340px;
    }
    .user-visits {
        display: table-cell;
    }

}

@media only screen and (min-width: 1440px){
    .show-list-wrapper .show-list-results .left-column {
        width: 30%;
    }
    .show-list-wrapper .user-info span {
        font-size: 22px;
    }
    .modal-content {
        font-size: 1em;
    }

}

@media only screen and (min-width: 2560px){
    #add-activity-page-search-results .search-container {
        max-width: 40%;
    }
    .show-list-wrapper .show-list-results .left-column {
        width: 20%;
    }

}